{
  "firebaseConfig": {
    "databaseURL": "https://firebase-search.firebaseio.com",
    "serviceAccount": "./service-account.json"
  },
  "elasticsearch": {
    "project": "firebase-search",
    "zone": "us-central1-f",
    "vm": "firebase-search-1-vm",
    "host": {
      "local": "localhost:9200",
      "external": "104.197.163.172:9200"
    }   
  }
}