{
  "defaults": {
    "firebaseConfig": {
      "databaseURL": "https://quiver-firebase-search.firebaseio.com",
      "serviceAccount": "./service-account.json",
      "secret": "1234567890123456789012345678901234567890"
    },
    "log": "console",
    "elasticsearch": {
      "project": "quiver-firebase-search",
      "zone": "us-central1-f",
      "vm": "elasticsearch-1-1-vm",
      "host": "localhost:9200",
      "log": "warning"
    },
    "algolia": {
      "applicationID": "1234567890",
      "searchAPIKey": "12345678901234567890123456789012345678901234567890",
      "monitoringAPIKey": "12345678901234567890123456789012345678901234567890",
      "apiKey": "12345678901234567890123456789012345678901234567890"
    }
  },
  "development": {
    "elasticsearch": {
      "index": "development"
    }
  },
  "test": {
    "log": "console",
    "elasticsearch": {
      "host": "localhost:9200",
      "index": "test"
    }
  },
  "production": {
    "log": "firebase",
    "elasticsearch": {
      "host": "104.197.163.172:9200",
      "index": "production"
    }
  }
}